{% extends "::base.html.twig" %}

{% block title %}Edit Posts{% endblock %}



{% block body %}

	{% for flash_message in app.session.flashbag.get('notice') %}
	<div style="border:dotted;padding:5px">
	    <strong>{{ flash_message }}</strong>
	</div>
	{% endfor %}

    {% for post in postovi %}
    <p>
		Autor:{{ post.author }} Naslov:{{ post.title }} Link:<a href="/post/showpost/{{ post.id }}">View</a>
		{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %} <a href="/post/edit/{{ post.id }}">Edit</a>{% endif %}
		{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %} <a href="/post/delete/{{ post.id }}">Delete</a>{% endif %}
	</p>
    {% endfor %}

	{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %} <a href="/post/create">Create new post</a>{% endif %}
{% endblock %}